# Python
__pycache__/
*.pyc
*.log
.venv/
venv/

# Environment variables
.env
.env.*
.roo/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker
.dockerignore
docker-compose.override.yml
*.swp
*.swo

# Test and build artifacts
.pytest_cache/
.clinerules

# Operating System files
.DS_Store
Thumbs.db

# backup files
.backup/

# docs
.docs/

